<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.020323640474839 -0.00503417361392195 0.055304484686837"
        rpy="0 0 0" />
      <mass
        value="1.72426257072843" />
      <inertia
        ixx="0.0201147961188581"
        ixy="4.24552853817101E-05"
        ixz="-0.00247781037487344"
        iyy="0.014189694142188"
        iyz="1.13869699220195E-05"
        izz="0.0268274687148955" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="base_footprint"></link>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0.05155" rpy="0 0 0"/>
  </joint>

  <link
    name="WL_Link">
    <inertial>
      <origin
        xyz="-3.89171393028187E-10 -0.013931690521404 1.86314953048994E-10"
        rpy="0 0 0" />
      <mass
        value="0.0333822790515451" />
      <inertia
        ixx="1.51686308540204E-05"
        ixy="9.58150429074449E-17"
        ixz="-1.67624352726415E-13"
        iyy="2.57516582391557E-05"
        iyz="-2.86237051388777E-15"
        izz="1.5168630582853E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/WL_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.717647058823529 0.968627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/WL_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="WL"
    type="continuous">
    <origin
      xyz="0.015798 -0.10986 -0.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="WL_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="WR_Link">
    <inertial>
      <origin
        xyz="1.41898146011066E-10 0.0139316905214036 -4.07469818303197E-10"
        rpy="0 0 0" />
      <mass
        value="0.0333822790515455" />
      <inertia
        ixx="1.51686305491668E-05"
        ixy="2.83393695898371E-15"
        ixz="-1.33523495785501E-13"
        iyy="2.57516582391559E-05"
        iyz="-4.13340954267257E-16"
        izz="1.51686308877069E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/WR_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.717647058823529 0.968627450980392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/WR_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="WR"
    type="continuous">
    <origin
      xyz="0.015798 0.10986 -0.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="WR_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="SF_Link">
    <inertial>
      <origin
        xyz="-0.00109034149189896 0.00021801111856061 0.000402219794071071"
        rpy="0 0 0" />
      <mass
        value="0.0452273710021345" />
      <inertia
        ixx="1.01682869627524E-05"
        ixy="-2.36291185766769E-11"
        ixz="-5.31435802143934E-20"
        iyy="1.01682729665126E-05"
        iyz="-1.00868790747467E-21"
        izz="1.74874180521558E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/SF_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/SF_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="SF"
    type="fixed">
    <origin
      xyz="0.13766 -0.0050587 -0.036634"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="SF_Link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="SB_Link">
    <inertial>
      <origin
        xyz="-0.000802433467456828 4.71434097780443E-07 5.98745066350782E-05"
        rpy="0 0 0" />
      <mass
        value="0.0418627718069573" />
      <inertia
        ixx="8.84835409421031E-06"
        ixy="-2.38448429704364E-11"
        ixz="2.57290383529941E-22"
        iyy="8.84834113064509E-06"
        iyz="1.00437728269628E-21"
        izz="1.50655958892102E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/SB_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/SB_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="SB"
    type="fixed">
    <origin
      xyz="-0.10234 -0.0050587 -0.036634"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="SB_Link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Camera_Link">
    <inertial>
      <origin
        xyz="-0.00770923724752959 -2.63339267868729E-05 0.000162555472316084"
        rpy="0 0 0" />
      <mass
        value="0.00154848047913568" />
      <inertia
        ixx="9.81432463144103E-08"
        ixy="-1.55039476124509E-11"
        ixz="-2.74782275446747E-09"
        iyy="6.1527176704902E-08"
        iyz="3.76746360401982E-10"
        izz="5.63298191001056E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Camera_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Camera"
    type="fixed">
    <origin
      xyz="0.1752 -0.0080928 0.068362"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Camera_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="IMU_Link">
    <inertial>
      <origin
        xyz="-3.46944695195361E-18 -1.73472347597681E-18 -0.001"
        rpy="0 0 0" />
      <mass
        value="0.0018" />
      <inertia
        ixx="1.356E-07"
        ixy="-1.19114008207636E-23"
        ixz="8.27180612553027E-25"
        iyy="1.356E-07"
        iyz="9.37471360893431E-25"
        izz="2.7E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/IMU_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/IMU_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="IMU"
    type="fixed">
    <origin
      xyz="0.017676 -0.0017088 0.004"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="IMU_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LD_Link">
    <inertial>
      <origin
        xyz="0.0114402130757858 0.000415357263239477 -0.0178701471511215"
        rpy="0 0 0" />
      <mass
        value="0.182791105483388" />
      <inertia
        ixx="6.58360857226434E-05"
        ixy="-7.10040945410764E-07"
        ixz="-1.85235171090658E-06"
        iyy="0.000121531815048432"
        iyz="-1.85259062821839E-07"
        izz="0.000170790314009463" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/LD_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/LD_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LD"
    type="fixed">
    <origin
      xyz="0.051396 -0.0008474 0.1594"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="LD_Link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>